body{
    font-family: 'Mulish', sans-serif;
    margin-top: 52px;
    
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    padding: 17px 35px;
    color: #FFF;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
header{
    margin-left: 135px;
    margin-right: 135px;
}
.color-dark{
    color: #131318;
}
.color-orange{
    color: #FF5400;
}
.color-gray{
    color: rgba(19, 19, 24, 0.50);
}
/* Header style */
.title-header{
    display: flex;
    align-items: center;
}
.title-logo{
    height: 56px;
    margin-right: 10px;
}
.header-title{
    font-size: 2rem;
    font-weight: 800;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hambarger-mobile-nav{
    display: none;
}
.menu-list{
    list-style-type: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}
nav > ul{
    display: flex;
}
nav li{
    margin-left: 44px;
}
.menu-list a{
    text-decoration: none;
    color: inherit;
}
.header-bg{
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    margin-top: 49px;
    background-size: cover;
    background-position: center;
    
}
.dark-bg{
    overflow: hidden;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 70dvh;
    border-radius: 16px;
    position: relative;
    text-align: center;
    align-items: center;
}
.content-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 150px;
    margin-bottom: 30px;
}
.header-content{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 55px;
}
/* form explore travel */
.explore-travel{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}
.explore-travel input[type="text"], select{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    /* padding-top: 16px;
    padding-bottom: 16px;*/
    padding-left: 16px; 
    padding-right: 16px;
    width: 174px;
    height: 52px;
    border-style: none;
}
/* main style */
main{
    margin-top: 100px;
    margin-left: 135px;
    margin-right: 135px;
}
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.section-content{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.popular-tours{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.popular-tours img{
    width: 540px;
    height: 550px;
}
.popular-tour-content{
    margin-right: 60px;
}
/* destination section */
.destination{
    margin-top: calc(100px - 24px);
    text-align: center;
    align-items: center;
}
.image-container {
    position: relative;
    text-align: center;
}
.image-container img {
    width: 100%;
    display: block;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}
.images{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
}
.destination-image{
    margin-bottom: 100px;
}
/* why choose section */
.why-choose{
    text-align: center;
}
.card-container{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    width: 573px;
}
.card-container img{
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}
.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}
.card-content{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.card-color2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-color3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
}
/* Deals and discounts */
.deals{
    text-align: center;
}
.deal1{
    background-image: url("../Images/Group\ 39.png");
    border-radius: 16px;
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    margin-top: 49px;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 56px;
}
.deal2{
    background-image: url("../Images/Group\ 40.png");
    border-radius: 16px;
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    margin-top: 49px;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 56px;
}
.deal-vanue{
    display: flex;
    gap: 20px;
}
.deal-price{
    margin-top: 16px;
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}
.deal-right{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 500px;
    height: 300px;
    margin-left: 900px;
}
.deal-left{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    width: 500px;
    height: 300px;
    margin-left: 50px;
}
.deal1 button, .deal2 button{
    margin-top: 24px;
}
#packages{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 113px;
}
/* footer section */
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.social-links{
    display: flex;
    gap: 20px;
    margin-top: 33px;
    margin-bottom: 50px;
}
.social-links a{
    text-decoration: none;
    color: #000000;
}
hr{
    width: 872px;
    height: 1px;
    margin-bottom: 50px;
}
/* Mobile responsive */
@media screen and (max-width: 600px)
{
    header{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 19.2px;
    }
    /* .header-title{
        font-size: 21.543px;
    } */
    .hambarger-mobile-nav{
        display: block;
        height: 24px;
        width: 24px;
    }
    .title-logo{
        width: 28.724px;
        height: 33.516px;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
    }
    .menu-list{
        display: none;
    }
    .dark-bg{
        height: 60dvh;
    }
    .content-title{
        font-size: 22px;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .header-content{
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .explore-travel{
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;
    }
    .explore-travel input[type="text"]{
        width: 90%;
    }
    .explore-travel select{
        padding-right: 0px;
        width: 100%;
    }
    .explore-travel .btn-primary{
        width: 100%;
    }
    /* main responsive */
    main{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 14px;
    }
    .popular-tours{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .popular-tour-content{
        margin-right: 0px;
    }
    .popular-tours img{
        width: 370px;
        height: 342px;
    }
    .section-title{
        font-size: 20px;
    }
    .section-content{
        font-size: 14px;
    }
    .images{
        flex-direction: column;
    }
    /* deals */
    .deal1{
        padding-top: 150px;
    }
    .deal2{
        padding-top: 150px;
    }
    .deal-vanue{
        flex-wrap: wrap;
    }
    .deal-right, .deal-left{
        border-radius: 16px;
        border: 2px solid #FFF;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        padding: 30px;
        width: 276px;
        height: 300px;
        margin-left: 16px;
    }
    /* footer */
    footer{
        /* padding-left: 20px;
        padding-right: 20px; */
    }
    footer .section-content{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    hr{
        width: 335px;
    }
}